@page "/About"
<h3>About</h3>

<MudPaper>
    <MudStack>
        <MudText>Uses <MudLink Href="https://github.com/SixLabors/ImageSharp">ImageSharp</MudLink> under the Apache License, Version 2.0 as non-profit</MudText>
    </MudStack>
</MudPaper>


@code {

}